/* .slick-slide.slick-active.slick-current .slick-item-lesson::before {
    background-color: rgb(63 158 255 / 51%);
    height: 100%;
    width: 100%;
    content: '.';
    z-index: 2;
    position: absolute;
} */
.slick-content-last-accessed span {
  display: inline-block;
  width: 100%;
}

#lastAccessProgress {
  font-weight: 200;
  /* margin-top: -2px !important; */
  z-index: 1;
  width: 99% !important;
  bottom: 54px;
  position: absolute;
}

.slick-content-last-accessed {
  background-color: rgba(0, 0, 0, 0.89);
  color: #fff;
  bottom: 0;
  position: absolute;
  display: block;
  width: 100%;
  padding: 10px;
}

.last-accessed-wrapper {
  display: block;
  /* opacity: 0; */
  width: 51%;
  height: 180px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.slick-item-featured .slick-item-child {
  /* visibility: hidden; */
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slick-item-featured:hover .slick-item-child {
  /* visibility: visible; */
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper-hide {
  /* opacity: 0;
  transition: all .3s; */
}

.show-wrapper {
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.arrow-pdf-next {
  right: 0;
}

.arrow-pdf-next img.arrow-pdf {
  right: 5px;
  cursor: pointer;
}

span#pdfCanvass .annotationLayer {
  -webkit-transition: all .3s;
  transition: all .3s;
}

span.pdf-details {
  width: 100%;
  display: block;
  position: absolute;
  z-index: 999;
  bottom: 0;
  text-align: left;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.55);
}

.arrow-pdf-prev img.arrow-pdf {
  left: 5px;
  cursor: pointer;
}

.arrow-btn-pdf {
  background-color: transparent !important;
  border: none;
  display: inline-block;
  position: absolute;
  z-index: 9;
  height: 100%;
  width: 10%;
}

img.arrow-pdf {
  background-color: transparent !important;
  display: block;
  width: 25%;
  top: 45.3%;
  position: absolute;
  z-index: 4;
}

.pdf-container {
  display: inline-block;
  position: relative;
}

.block-video-details {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

#radioVideo {
  margin-bottom: 0px !important;
}

#radioVideo label.el-radio-button.el-radio-group-radio-video .el-radio-button__inner {
  background: rgba(140, 175, 227, 0.6) !important;
  white-space: nowrap;
  border: 1px solid #73a5c6;
  font-weight: 500;
  border-left: 0;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 12px 20px;
  font-size: 14px;
}

#radioVideo label.el-radio-button.el-radio-group-radio-video.is-active .el-radio-button__inner {
  background: #48dbfb !important;
  white-space: nowrap;
  border: 1px solid #73a5c6;
  font-weight: 500;
  border-left: 0;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 12px 20px;
  font-size: 14px;
}

.overlayslick {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  position: absolute;
  /* opacity:1; */
  -webkit-transition: width 20s, opacity 0.2s;
  transition: width 20s, opacity 0.2s;
}

.overlayslick img {
  /* font-size: 80px; */
  display: block;
  margin: 0 auto;
  /* vertical-align: bottom; */
  margin-top: 20%;
  color: #fff;
  font-weight: 200;
  width: 50px;
}

.overlayslick:hover {
  /* background:linear-gradient(to right, rgba(0,0,255,0.75), rgba(255,0,0,0.75)); */
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(rgba(10, 13, 51, 0.7)), to(#0a0d33)) !important;
  background: linear-gradient(180deg, transparent, rgba(10, 13, 51, 0.7), #0a0d33) !important;
  position: absolute;
  opacity: 1;
  -webkit-transition: width 0.4s, opacity 0.5s;
  transition: width 0.4s, opacity 0.5s;
  -webkit-transition-delay: width 0.5s;
          transition-delay: width 0.5s;
  animation-name: gradient-fade;
  animation-duration: 0.5s;
  -webkit-animation-name: gradient-fade;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s;
  /* Chrome, Safari, Opera */
}

div#dialogLesson .el-dialog__body {
  padding: 0 !important;
}

.el-dialog__headerbtn {
  z-index: 909999;
}

button.el-button.suggest-question-btn.el-button--default {
  display: block;
  margin: 0 auto;
}

label.el-radio-button.btn-default span.el-radio-button__inner {
  border-color: #73a5c6;
  color: #73a5c6;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  background-color: transparent;
}

label.el-radio-button.btn-default.is-active span.el-radio-button__inner {
  background-color: #48dbfb;
  color: #fff;
}

i.el-icon-right, i.el-icon-back {
  color: rgba(255, 255, 255, 0.42) !important;
  -webkit-transition: 490ms ease 0s;
  transition: 490ms ease 0s;
  cursor: pointer;
}

i.el-icon-right:hover, i.el-icon-back:hover {
  color: #fff !important;
  cursor: pointer;
}

#lesson-view-video-container .el-card__body {
  background-color: rgba(0, 0, 0, 0.35) !important;
}

.el-progress-bar__outer {
  height: 6px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.17) !important;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.el-progress.is-success .el-progress-bar__inner {
  background-color: #72aae4 !important;
}

.slick-slide.slick-active.slick-current .slick-item-lesson-carousel {
  /* margin-top: -5px; */
}

.border-top {
  height: 5px;
  background-color: #3f9eff;
  /* width: 265px; */
  /* display: block; */
  /* margin-top: 0px; */
  /* margin-bottom: -5px; */
  position: relative;
  z-index: 102;
  overflow: hidden;
  margin-bottom: -5px;
}

div#dialogLesson .el-dialog__headerbtn .el-dialog__close {
  font-size: 30px;
  font-weight: 900;
}

#lesson-view-video-container {
  background-color: transparent !important;
  border: none !important;
}

.view-lesson-arrows-container i {
  font-size: 30px;
  font-weight: 900;
}

.view-lesson-arrows-container {
  display: block;
  float: right;
}

.view-lesson-title {
  display: inline-block;
}

.view-lesson-title span {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.lesson-view-right-container {
  display: block;
  width: 100%;
  /* padding: 20px; */
  /* background-color: red; */
}

.el-collapse-item__wrap, .el-collapse-item__header {
  background-color: transparent !important;
  color: #fff !important;
}

.el-collapse {
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.el-collapse-item__wrap p {
  padding-left: 15px;
  color: #fff !important;
}

.el-collapse-item__header {
  text-transform: capitalize;
  border-bottom: 0px !important;
}

.el-collapse-item__wrap {
  border-bottom: 0px !important;
}

.lesson-tab-content {
  height: 480px;
  overflow-y: auto;
}

.lesson-view-right-container .el-radio-group {
  display: block;
  width: 100%;
}

.lesson-view-right-container .el-radio-button {
  display: inline-block;
  width: 50%;
}

.lesson-view-right-container span.el-radio-button__inner {
  width: 100%;
}

div#dialogLesson .el-dialog, div#dialogLesson .el-dialog__header, div#dialogLesson .el-dialog__body, div#dialogLesson .el-dialog__footer {
  background-color: transparent !important;
}

.video-player.vjs-custom-skin video-js .vjs-big-play-button {
  top: 43% !important;
  left: 44% !important;
  margin: 0 auto !important;
  vertical-align: middle !important;
}

.loader-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 20000;
  background-color: rgba(0, 0, 0, 0.69);
}

.main-loader {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 20001;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.VueCarousel-wrapper {
  height: auto;
}

.course-name, .chapter-name {
  text-transform: uppercase;
  padding-left: 10px;
}

.transition-chapter {
  /* transition: 490ms ease 0s; */
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.course-name {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

.chapter-name {
  /* idth: 300px; */
  display: block;
  color: #a2e5f6 !important;
  margin-top: 0px;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
  width: 100%;
}

.visibile-false {
  visibility: hidden;
}

button.arrow-btn.slick-arrow.slick-prev::after {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#0a0c33), to(transparent));
  background-image: linear-gradient(90deg, #0a0c33, transparent);
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
}

button.arrow-btn.slick-arrow.slick-next::after {
  background-color: transparent;
  background-image: -webkit-gradient(linear, right top, left top, from(#0a0c33), to(transparent));
  background-image: linear-gradient(270deg, #0a0c33, transparent);
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-size: cover;
}

button.arrow-btn.slick-arrow.slick-prev {
  left: 0 !important;
}

button.arrow-btn.slick-arrow.slick-prev img {
  left: 15px;
}

button.arrow-btn.slick-arrow.slick-next {
  right: 0 !important;
}

/* .slick-item-featured {
  background-size: cover;
  height: 370px;
} */
/* .button.slick-arrow.slick-prev:be{
  content: url('../../public/images/prev.png') !important;
}

button.slick-arrow.slick-next {
  content: url('../../public/images/next.png') !important;
} */
img.slick-arrow {
  width: 20px !important;
  z-index: 9999;
  position: absolute;
  top: 40%;
}

button.slick-arrow.slick-prev, button.slick-arrow.slick-next {
  background-color: transparent !important;
  display: block;
  height: 100%;
  width: 4%;
  top: 49%;
}

button.arrow-btn.arrow-course.slick-arrow.slick-prev, button.arrow-btn.arrow-course.slick-arrow.slick-next {
  background-color: transparent !important;
  display: block;
  height: 87%;
  width: 4%;
  top: 54.3%;
}

button.slick-arrow.slick-prev::before, button.slick-arrow.slick-next::before {
  content: '' !important;
}

div.slick-item-lesson {
  height: 200px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.36);
}

.slick-desc-lesson {
  padding: 20px;
}

.lazy-background-slot {
  height: 200px;
  position: relative;
}

.slick-content-wrapper-lesson {
  /* display: block;
  position: absolute;
  bottom: 4px;
  width: 100%;
  background-color: rgb(0 0 0 / 19%);
  padding: 20px;
  color: white; */
  display: block;
  /* position: absolute; */
  /* bottom: 4px; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* padding: 20px; */
  color: white;
  width: 100%;
  height: 30%;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
}

button.VueCarousel-navigation-button.VueCarousel-navigation-prev.VueCarousel-navigation--disabled {
  color: #fff;
  -webkit-transform: translateY(-30%) translateX(0);
          transform: translateY(-30%) translateX(0);
}

button.VueCarousel-navigation-button.VueCarousel-navigation-prev {
  left: 0;
  -webkit-transform: translateY(-30%) translateX(0);
          transform: translateY(-30%) translateX(0);
  font-family: "system";
  color: #fff;
}

button.VueCarousel-navigation-button.VueCarousel-navigation-next {
  right: 0;
  -webkit-transform: translateY(0%) translateX(0);
          transform: translateY(0%) translateX(0);
  font-family: "system";
  color: #fff;
}

.color-white {
  color: #fff !important;
}

.full-height {
  display: block;
  overflow-y: scroll;
  background: radial-gradient(ellipse at 4% 4%, #122e52 0, #161d46 49%, #18113f 100%);
}

img.slick-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

div.slick-left {
  display: block;
  width: 10%;
  float: left;
  padding: 13px;
  padding-top: 30px;
}

div.slick-right {
  display: inline-block;
  width: 79%;
  /* FLOAT: RIGHT; */
  /* BACKGROUND-COLOR: blue; */
  overflow: hidden;
  padding: 15px;
}

.slick-item-featured, .slick-item-lesson {
  background-size: cover;
  height: 370px;
  position: relative;
}

.lazy-background-image {
  width: 99% !important;
}

button.arrow-btn.slick-arrow.slick-next.slick-disabled, button.arrow-btn.slick-arrow.slick-prev.slick-disabled {
  display: none !important;
}

/* div.slick-item {
  height: 370px;
} */
.el-progress__text {
  color: #fff !important;
  font-size: 14px !important;
}

button.slick-arrow.slick-prev {
  left: 10px !important;
  background-color: black;
  z-index: 99 !important;
}

button.slick-arrow.slick-next {
  right: 10px !important;
  background-color: black;
  z-index: 99 !important;
}

div.slick-item {
  /* height: 100%; */
  /* height: 370px; */
  cursor: pointer;
  /* margin-left: 5px; */
}

.slick-right-desc {
  display: inline-block;
  width: 82%;
}

.slick-right-icon {
  display: block;
  width: 8%;
  float: right;
}

.default-chapter {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  z-index: 999;
}

#featuredProgress {
  margin-top: -2px !important;
  z-index: 1;
  width: 99% !important;
}

.slick-right-icon img {
  width: 39px;
  padding-top: 22px;
}

span.slick-title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  padding-top: 18px;
}

span.slick-desc p {
  display: block;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  width: 100%;
  -webkit-margin-before: 0 !important;
  margin-block-start: 0 !important;
  -webkit-margin-after: 0 !important;
  margin-block-end: 0 !important;
  -webkit-margin-start: 0px !important;
  margin-inline-start: 0px !important;
  -webkit-margin-end: 0px !important;
  margin-inline-end: 0px !important;
  line-height: 1em;
  max-height: 3em;
  padding-top: 10px;
}

span.slick-desc {
  width: 100%;
  /* line-height: 2; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-right: 0px;
  margin-right: 0px;
}

.slick-content-wrapper {
  display: block;
  /* position: absolute; */
  /* bottom: 4px; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* padding: 20px; */
  color: white;
  width: 100%;
  height: 30%;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
}

/* lms */
input#searchBar {
  background-color: transparent !important;
}

.info-sub {
  word-break: break-word !important;
}

.el-select.tz-select {
  /* width: 90px !important; */
  margin-top: -10px !important;
}

#tzSelect .el-input__inner {
  /* width: 130px !important; */
  border: none !important;
  background-color: transparent !important;
}

.tz-select .el-input__inner {
  /* width: 130px !important; */
  border: none !important;
  background-color: transparent !important;
  padding-left: 5px !important;
}

#session-main-container .el-loading-spinner .circular {
  width: 1px !important;
}

.window-loader {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 20001;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

.button-loader {
  width: 12px;
  height: 12px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sc-button i.el-icon-loading {
  display: none !important;
}

/*override*/
.el-button--success {
  color: #FFF !important;
  background-color: #7cac22 !important;
  border-color: #7cac22 !important;
  /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #b3d378), to(#7cac22)); */
  /* background-image: linear-gradient(to bottom, #b3d378 3%, #7cac22 100%); */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #b3d378), to(#7cac22)) !important;
  background-image: linear-gradient(to bottom, #b3d378 3%, #7cac22 100%) !important;
  padding: 6px 23px !important;
  /*padding: 0.375rem 1.4375rem !important;*/
  line-height: 1.6 !important;
  -webkit-transition: all 1s !important;
  transition: all 1s !important;
  -webkit-transition: color 1s ease-in-out, background-color 1s ease-in-out, border-color 1s ease-in-out, -webkit-box-shadow 1s ease-in-out !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
}

.el-button--success:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #94be48), to(#669216)) !important;
  background-image: linear-gradient(to bottom, #94be48 3%, #669216 100%) !important;
}

/*override*/
div#dialogInstance i.el-dialog__close.el-icon.el-icon-close, div#dialogInstance .el-dialog__header {
  display: none !important;
}

.no-available-coach {
  color: #fff;
  /*padding: 20px;*/
  display: inline-block;
  word-break: break-word;
  text-align: center;
  padding: 15px 16px;
  background-color: rgba(236, 248, 255, 0.17);
  border-radius: 4px;
  border-left: 5px solid #f96b6c;
  margin: 20px 0;
  font-size: 13px;
  margin-bottom: 0px !important;
  width: 90%;
}

div#dialogShare div.el-dialog__header {
  background-color: #4a6a8e !important;
  text-align: center;
}

.grid-content.bg-purple-dark {
  background: -webkit-gradient(linear, left bottom, left top, from(#181240), to(#14274d)) !important;
  background: linear-gradient(to top, #181240, #14274d) !important;
}

th.el-table_1_column_1.is-leaf {
  display: none;
}

.el-table {
  background-color: transparent !important;
}

.el-table th, .el-table tr {
  background-color: transparent !important;
}

.el-table td, .el-table th.is-leaf {
  border: none !important;
  border-bottom: 1px solid rgba(167, 167, 167, 0.06) !important;
}

.el-table::before {
  height: 0px !important;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  /*background-color: #26395b !important;*/
  background-color: rgba(255, 255, 255, 0.13) !important;
}

.el-table__body tr.current-row > td {
  background-color: rgba(255, 255, 255, 0.13) !important;
}

.left-list-header {
  color: #fff;
  font-weight: 600;
}

.left-list-sub {
  color: rgba(255, 255, 255, 0.77);
  font-size: 12px;
  line-height: 18px;
  word-break: break-word !important;
}

.flag-container {
  display: inline-block;
  float: right;
  margin-right: -10px;
  margin-top: -10px;
}

label#id-1 span {
  color: #b8e986 !important;
}

label#id-2 span {
  color: #b5e5fe !important;
}

label#id-3 span {
  color: #ffcd50 !important;
}

label#id-4 span {
  color: #f96b6c !important;
}

.list-Pending {
  background-color: #6e8e6a !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-Booked {
  background-color: #5e7aa4 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-Attended {
  background-color: #917c4e !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-Cancelled {
  background-color: #92505e !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-no-show {
  background-color: #92505e !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-item:hover .list-Pending.session-listitem, .list-item.hover .list-Pending.session-listitem,
.list-item:active .list-Pending.session-listitem, .list-item.active .list-Pending.session-listitem {
  background: #91b98c !important;
}

.list-item:hover .list-Pending.list-item-btn, .list-item.hover .list-Pending.list-item-btn {
  background: #91b98c !important;
}

.list-item:hover .list-Booked.session-listitem, .list-item.hover .list-Booked.session-listitem {
  background: #7495c7  !important;
}

.list-item:hover .list-Booked.list-item-btn, .list-item.hover .list-Booked.list-item-btn {
  background: #7495c7 !important;
}

.list-item:hover .list-Attended.session-listitem, .list-item.hover .list-Attended.session-listitem {
  background: #bba167  !important;
}

.list-item:hover .list-Attended.list-item-btn, .list-item.hover .list-Attended.list-item-btn {
  background: #bba167 !important;
}

.list-item:hover .list-Cancelled.session-listitem, .list-item.hover .list-Cancelled.session-listitem {
  background: #b36374  !important;
}

.list-item:hover .list-Cancelled.list-item-btn, .list-item.hover .list-Cancelled.list-item-btn {
  background: #b36374 !important;
}

.list-1.session-listitem {
  background-color: #6e8e6a !important;
}

.session-info {
  cursor: pointer;
  color: #fff;
  border: 1px solid white;
  padding: 3px 6px;
  font-size: 9px;
  border-radius: 50%;
}

div.arrowDown {
  /*background-color: transparent;*/
  position: absolute;
  /* border: 0; */
  bottom: 0;
  width: 73.3%;
  text-align: center;
  padding: 16px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(#101d42));
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #101d42);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #101d42), to(rgba(51, 51, 51, 0)));
  background-image: linear-gradient(0deg, #101d42 20%, rgba(51, 51, 51, 0) 100%);
  /*background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #101d42 60%, #101d42 80%);*/
  /*background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #101d42 60%, #101d42 80%);*/
  /*background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #101d42 60%, #101d42 80%);*/
  /*background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #101d42 60%, #101d42 80%);*/
  right: 0;
  color: #fff !important;
  cursor: pointer;
}

.list-item {
  padding: 0px;
  border-radius: 3px;
  /*margin-bottom: 10px;*/
  color: #fff;
  width: 100%;
  display: inline-block;
}

span.el-radio__inner {
  display: none !important;
}

.el-radio.is-bordered.is-checked {
  border-color: #9ecaff !important;
}

span.el-radio__label {
  color: #fff !important;
}

.list-item-btn {
  padding: 10px;
  border-radius: 3px;
  /*margin-bottom: 10px;*/
  color: #fff;
  width: 6%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.list-item-btn span {
  font-size: 14px;
}

.left-list-badge-icon {
  font-size: 20px;
}

.el-badge.item {
  padding-left: 20px;
}

.el-badge__content.is-fixed {
  left: -3px !important;
}

.el-badge__content {
  background-color: #83b4ff !important;
  color: #15254b !important;
  font-size: 11px !important;
  height: 16px !important;
  font-weight: bold;
  width: 16px !important;
  padding: 0 !important;
  border: none !important;
}

tr.el-table__row.current-row.current-row .coaches-list-icons {
  /*display: block !important;*/
  /*transition: opacity 1s;*/
  /*visibility: visible;*/
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s linear 0s, opacity 300ms;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.coaches-list-icons {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 300ms, opacity 300ms;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.el-input__inner {
  border: 1px solid rgba(220, 223, 230, 0.35) !important;
  color: #d6d6d6 !important;
}

button.el-button.plain {
  border: 1px solid rgba(220, 223, 230, 0.35) !important;
  background-color: transparent !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*#tablecoaches td.el-table_1_column_1 {*/
/*    padding: 0px !important;*/
/*}*/
#tablecoaches .el-table .cell {
  word-break: break-word !important;
}

.el-table .warning-row {
  /*background: rgba(54, 54, 54, 1) !important*/
  opacity: 0.5;
  cursor: not-allowed;
}

.el-table .disabled-row {
  /*background: rgba(54, 54, 54, 1) !important*/
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none !important;
}

.list-item.active.class-disable {
  cursor: not-allowed;
}

.class-disable {
  cursor: not-allowed;
}

button.el-button.plain:hover {
  background-color: #293f5d !important;
}

span.dbl-border.el-avatar.el-avatar--circle {
  border-radius: 50% !important;
  /* border: 1px solid #fff; */
  /* box-shadow: 0 0 0 4px #817dd1, 0 0 0 4px #b551a9; */
  -webkit-box-shadow: 0 0 0 5px #293f5d, 0 0 0 7px #9ecaff !important;
          box-shadow: 0 0 0 5px #293f5d, 0 0 0 7px #9ecaff !important;
}

span.dbl-border-disable.el-avatar.el-avatar--circle {
  -webkit-box-shadow: 0 0 0 5px #3b3b3b, 0 0 0 7px #777777 !important;
          box-shadow: 0 0 0 5px #3b3b3b, 0 0 0 7px #777777 !important;
}

/*right column*/
.right-detail-header {
  color: #9ecaff;
  font-size: 30px !important;
  margin-top: 5px;
  display: inline-block;
}

.transition-box {
  margin-bottom: 10px;
  width: 200px;
  height: 100px;
  border-radius: 4px;
  background-color: #409EFF;
  text-align: center;
  color: #fff;
  padding: 40px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 20px;
}

.right-detail-sub {
  display: inline-block;
  color: rgba(255, 255, 255, 0.77);
  padding: 13px 0 0 0;
}

.right-detail-btnprofile {
  cursor: pointer;
  display: inline-block;
  color: #9ecaff;
  border: 2px solid #9ecaff;
  padding: 2px 8px;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
  margin-top: 9px;
  position: absolute;
  margin-left: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right-detail-btnprofile:hover {
  color: #bfdcff;
  border-color: #bfdcff;
}

#alertBookSession {
  background-color: rgba(255, 111, 111, 0.15) !important;
  color: white !important;
  width: 60% !important;
  float: left !important;
  border: 1px solid #ff3e3e !important;
}

.right-list-container {
  display: inline-block;
  width: 80%;
  padding: 15px 0 10px;
}

.btn-buy-session {
  background-color: transparent !important;
  color: #9ecaff !important;
  border-color: #9ecaff !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-buy-session:hover {
  background-color: rgba(140, 175, 227, 0.301961) !important;
  color: #9ecaff !important;
  border-color: #9ecaff !important;
}

.session-listitem {
  padding: 10px;
  border-right: 2px solid #283b5c !important;
  /*width: 89%;*/
  display: inline-block;
  border-radius: 3px;
}

.el-checkbox:last-of-type {
  margin-right: 21px !important;
  padding: 20px 0 15px !important;
}

.session-list-time {
  font-size: 14px;
  /*margin-left: 40px;*/
  margin-right: 10px;
  display: inline-block;
}

.session-list-time-calendar {
  float: right;
}

span.session-list-avatar.el-avatar.el-avatar--circle {
  height: 22px !important;
  width: 22px !important;
  line-height: 22px !important;
  /* position: absolute !important; */
  margin-top: -13px !important;
  margin-left: 11px !important;
  vertical-align: bottom;
}

/*dialog*/
.el-dialog__header, .el-dialog__footer {
  background-color: #55769a;
  text-align: center;
}

.el-dialog__title {
  color: #fff !important;
}

.dialog-warning-exclamation {
  color: #79bb71;
  font-size: 60px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

a.text-link {
  color: #9ecaff;
}

.el-dialog__body {
  padding: 30px 40px !important;
  /*color: #606266;*/
  /*font-size: 14px;*/
  /*word-break: break-all;*/
  color: #fff !important;
  background-color: #4a6a8e !important;
}

#dialogShare .el-dialog__body {
  padding: 10px 40px !important;
}

span.demonstration {
  color: #fff !important;
}

.el-date-editor.el-range-editor.el-input__inner.el-date-editor--daterange.el-range-editor--mini {
  background-color: transparent;
  border: none !important;
  width: 250px !important;
}

input.el-range-input {
  background-color: transparent !important;
  color: #fff !important;
  font-size: 14px !important;
}

.icon-info {
  display: inline-block;
  border: 1px solid #9ecaff;
  border-radius: 50%;
  padding: 2px 8px;
  color: #9ecaff;
}

.el-dialog__title {
  line-height: 24px !important;
}

.list-item {
  cursor: pointer;
}

/*.list-1.list-item:hover {*/
/*    background-color: #91b98c !important;*/
/*}*/
/*.list-2.list-item:hover {*/
/*    background-color: #7495c7 !important;*/
/*}*/
/*.list-3.list-item:hover {*/
/*    background-color: #bba167 !important;*/
/*}*/
/*.list-4.list-item:hover {*/
/*    background-color: #b36374 !important;*/
/*}*/
.el-date-editor .el-range-input {
  width: 50% !important;
}

.el-range-separator {
  color: #fff !important;
}

/*filter*/
.filter-blocks.el-col.el-col-24 {
  padding: 10px 0;
}

.el-checkbox-button:first-child .el-checkbox-button__inner {
  /*border-radius: 4px !important;*/
  /*margin-right: 5px !important;*/
}

span.filter-title {
  color: rgba(255, 255, 255, 0.62);
  margin-bottom: 10px;
  display: block;
}

/*global*/
.btn-default > span.el-checkbox-button__inner {
  background-color: transparent !important;
  color: #fff !important;
  border-color: rgba(255, 255, 255, 0.25) !important;
}

.el-checkbox-button.is-checked .el-checkbox-button__inner {
  color: #FFF;
  background-color: #409EFF;
  border-color: #9ecaff !important;
  -webkit-box-shadow: -1px 0 0 0 #8cc5ff !important;
          box-shadow: -1px 0 0 0 #8cc5ff !important;
}

.input-default > .el-input__inner {
  background-color: transparent !important;
  color: #fff !important;
}

.el-checkbox-button {
  display: inline-block;
  position: relative;
  /*margin-left: 5px !important;*/
  border-radius: 4px !important;
  /* border: 1px solid white; */
}

label.el-checkbox.filter-checkbox.is-bordered {
  padding: 6px 20px 9px 10px !important;
  color: #fff !important;
  margin-right: 10px !important;
  border-color: rgba(255, 255, 255, 0.25) !important;
}

label.el-checkbox.filter-checkbox.is-bordered.is-checked {
  border-color: #9ecaff !important;
}

label.el-checkbox.filter-checkbox.is-bordered.is-checked > .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #fff !important;
}

label.el-checkbox.filter-checkbox.is-bordered span.el-checkbox__inner {
  display: none !important;
}

.el-carousel__item {
  /*width: 200px !important;*/
  display: inline-block;
  /* overflow: hidden; */
  z-index: 0;
}

/*.scrolling-wrapper {*/
/*    overflow-x: scroll;*/
/*    overflow-y: hidden;*/
/*    white-space: nowrap;*/
/*}*/
/*.card {*/
/*    display: inline-block;*/
/*}*/
/*.scrolling-wrapper-flexbox {*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    overflow-x: auto;*/
/*}*/
/*.card {*/
/*    flex: 0 0 auto;*/
/*    margin-right: 3px;*/
/*}*/
/*.card {*/
/*    border: 2px solid red;*/
/*    width: 150px;*/
/*    height: 75px;*/
/*    background: black;*/
/*}*/
/*.scrolling-wrapper, .scrolling-wrapper-flexbox {*/
/*    height: 80px;*/
/*    margin-bottom: 20px;*/
/*    width: 100%;*/
/*    -webkit-overflow-scrolling: touch;*/
/*}*/
/*::-webkit-scrollbar {*/
/*     display: none;*/
/* }*/
/*.scrolling-wrapper {*/
/*    background: #eee;*/
/*    padding: 20px 15px 20px;*/
/*    margin: 0 37px;*/
/*    !* Make this scrollable when needed *!*/
/*    overflow-x: auto;*/
/*    !* We don't want vertical scrolling *!*/
/*    overflow-y: hidden;*/
/*    !* Make an auto-hiding scroller for the 3 people using a IE *!*/
/*    -ms-overflow-style: -ms-autohiding-scrollbar;*/
/*    !* For WebKit implementations, provide inertia scrolling *!*/
/*    -webkit-overflow-scrolling: touch;*/
/*    !* We don't want internal inline elements to wrap *!*/
/*    white-space: nowrap;*/
/*    !* Remove the default scrollbar for WebKit implementations *!*/
/*}*/
/*.scrolling-wrapper::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/
.cata-sub-nav {
  /*background: #eee;*/
  padding: 20px 15px 20px;
  margin: 0 37px;
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* Remove the default scrollbar for WebKit implementations */
}

.cata-sub-nav::-webkit-scrollbar {
  display: none;
}

.arrow {
  background: transparent;
}

.nav-prev {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0px;
  margin-top: 8px;
  cursor: pointer;
  z-index: 99 !important;
}

.nav-next {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0px;
  margin-top: -22px;
  cursor: pointer;
  z-index: 99 !important;
}

.el-popover {
  background: #55769a !important;
  border: 1px solid #55769a !important;
}

.el-popper[x-placement^=top] .popper__arrow::after {
  border-top-color: #55769a !important;
}

.el-popper[x-placement^=top] .popper__arrow {
  border-top-color: #55769a !important;
}

.info-sub {
  color: rgba(255, 255, 255, 0.62);
}

.info-head {
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
}

.el-dialog__headerbtn:hover .el-dialog__close {
  color: #ffffff !important;
}

.el-dialog__headerbtn .el-dialog__close {
  color: #d8d8d8 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#tablecoaches {
  overflow-y: auto !important;
  height: 93vh !important;
}

/*scroll*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #446898 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8cafe3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a2c4f7;
}

.avatar-wrapper {
  float: left;
  padding: 8px;
  width: 21%;
}

/*content*/
.content-avatar-container {
  float: left;
  padding: 8px;
  width: 6%;
  display: inline-block;
}

.content-coaches-name {
  display: inline-block;
  width: 90%;
  padding-left: 15px;
}

/*session*/
.mobile-session-filter {
  display: none;
}

.desktop-session-filter {
  display: block;
}

.desktop-session-filter span.el-checkbox__inner {
  display: none !important;
}

label.el-checkbox.is-checked span.el-checkbox__label {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.coaches-mobile {
  display: none;
}

.coaches-desktop {
  display: block;
}

.index-col-right {
  background: #293f5d;
  padding: 20px;
}

.index-col-left {
  background: #15224a;
}

.coaches-list-icons {
  float: right;
  margin-top: 10px;
}

.coaches-search-btn {
  width: 88%;
  display: inline-block;
}

.coaches-search-desktop {
  display: block;
}

.coaches-search-mobile {
  display: none;
}

.session-daterange {
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.session-items-container {
  display: block;
  overflow-y: auto;
  height: 72vh;
  width: 100%;
  padding-right: 5px;
  padding-bottom: 20px;
}

.session-items-wrapper {
  display: block;
  height: auto;
  width: auto;
}

.right-detail-sub-session {
  display: inline-block;
  color: rgba(255, 255, 255, 0.77);
  padding: 13px 0 0 0;
  font-size: 18px;
}

div#sessionProfiledialog .el-dialog .el-dialog__header {
  display: none !important;
}

div#sessionProfiledialog .el-dialog .el-dialog__body {
  padding: 0px !important;
}

.dialog-header {
  padding: 25px !important;
  background-color: #55769a;
  font-size: 19px;
  text-align: center;
}

div#sessionProfiledialog .el-dialog .el-dialog__body .dialog-body {
  padding: 30px !important;
}

.info-legend {
  display: block;
  font-size: 12px;
  padding: 5px 0;
  color: rgba(255, 255, 255, 0.6);
}

.el-avatar > img {
  height: auto !important;
  width: 100% !important;
}

/*media query*/
@media only screen and (min-width: 1301px) and (max-width: 1463px) {
  .el-checkbox__label {
    font-size: 11px !important;
  }
}

@media only screen and (min-width: 813px) and (max-width: 1300px) {
  .el-checkbox__label {
    font-size: 11px !important;
  }
  .mobile-session-filter {
    display: block !important;
  }
  div.desktop-session-filter {
    display: none !important;
  }
}

@media only screen and (min-width: 450px) and (max-width: 812px) {
  .index-col-left {
    width: 40% !important;
  }
  .session-list-time {
    display: inline-block;
    font-size: 12px;
    /* margin-left: 40px; */
    margin-right: 0px;
  }
  .index-col-right {
    width: 60% !important;
    padding: 10px;
  }
  .content-avatar-container {
    width: 10%;
  }
  .content-coaches-name {
    width: 70%;
  }
  .right-detail-header {
    font-size: 20px !important;
  }
  span.dbl-border.el-avatar.el-avatar--circle {
    width: 40px !important;
    height: 40px !important;
  }
  .session-list-time-calendar span {
    display: none;
  }
  .right-detail-btnprofile {
    font-size: 10px;
    padding: 2px 6px;
  }
  .right-list-container {
    padding: 0px !important;
  }
  .mobile-session-filter {
    display: block !important;
  }
  div.desktop-session-filter {
    display: none !important;
  }
  .session-listitem {
    /*width: 80% !important;*/
    border-right: 2px solid #283b5c !important;
  }
  .list-item-btn {
    /*width: 9%;*/
  }
  .el-date-editor.el-range-editor.el-input__inner.el-date-editor--daterange.el-range-editor--mini {
    width: 207px !important;
  }
  .el-range-editor--mini .el-range-input, span.demonstration {
    font-size: 12px !important;
  }
  .coaches-mobile {
    display: block;
  }
  .coaches-desktop {
    display: none;
  }
  .coaches-list-icons {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: -50px !important;
  }
  .el-table td {
    border-bottom: 1px solid rgba(167, 167, 167, 0.06) !important;
    display: block;
  }
  .btn-buy-session {
    padding: 5px 8px !important;
    margin-left: 5px;
  }
  .btn-buy-session:hover {
    background: #3a8ee6 !important;
    border-color: #3a8ee6;
    color: #FFF;
  }
  .coaches-search-desktop {
    display: none;
  }
  .coaches-search-mobile {
    display: block;
  }
  .coaches-search-mobile button {
    width: 45%;
  }
  .session-daterange {
    display: inline-block;
    float: left;
    margin-top: 2px;
  }
  .el-checkbox:last-of-type {
    padding: 5px 0 5px !important;
  }
  #dialogFilter .el-dialog {
    margin-top: 0 !important;
    width: 100% !important;
  }
  #dialogProfile .el-dialog {
    margin-top: 0 !important;
    width: 100% !important;
  }
  #dialogSearch .el-dialog {
    width: 80% !important;
    margin-top: 5% !important;
  }
  #dialogSearch input.el-input__inner {
    background-color: transparent !important;
  }
  #sessionProfiledialog .el-dialog {
    width: 100% !important;
    margin-top: 0 !important;
  }
  #id-1 {
    background-color: #6e8e6a;
    border-radius: 3px;
    padding: 0 3px !important;
  }
  #id-2 {
    background-color: #5e7aa4;
    border-radius: 3px;
    padding: 0 3px !important;
  }
  #id-3 {
    background-color: #917c4e;
    border-radius: 3px;
    padding: 0 3px !important;
  }
  #id-4 {
    background-color: #92505e;
    border-radius: 3px;
    padding: 0 3px !important;
  }
  .session-items-container {
    height: 60vh !important;
  }
}

@media only screen and (max-width: 640px) {
  span.dbl-border.el-avatar.el-avatar--circle {
    width: 30px !important;
    height: 30px !important;
  }
  .session-items-container {
    height: 200px !important;
  }
}
/*# sourceMappingURL=theme.css.map */